li button:hover, .dropdown:hover .dropbtn {
    color: #61e5a1;
}

li.dropdown {
    display: inline-block;
    float: right;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    text-align: left;
}

.username{
    font: 2.4em Righteous;
    color: #61e5a1;
}
.avatar{
    height: 8em;
    padding: 0px;
    width: 8em;
}

.show {display:block;}